body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: url(warp.jpg); */
    background-size: 1400px 606px;
    background-repeat: no-repeat;
}

canvas{
    position: absolute;
    top: 6rem;
}

#video{
    top: 6rem;
    position: absolute;
    border-radius: 10%;
}

.cn, .rpl{
    position: absolute;
}
.cn{
    width: 6rem;
    z-index: 5;
    top: 10px;
    left: 5px;
}
.rpl{
    width: 6.5rem;
    top: 1px;
    right: 5px;
    z-index: 6;
}

#warptunnel {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}